doctype 5
html
  head
    title Node Twitter Client

    meta(charset='UTF-8')

    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')

    block scripts
      script(src='/vendor/jquery/js/jquery.min.js')
      script(src='/vendor/bootstrap/js/bootstrap.min.js')
  body

    .container
      block content

    script(src='/scripts/main.js')