doctype 5
html(ng-app="twitter-client")
  head
    title Node Twitter Client

    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/custom.css')
      
body
  .container-fluid(ng-controller="StreamCtrl")
    .masthead
      a.btn.btn-primary.pull-right(href="#myModal", data-toggle="modal") New Tweet
      h3 Twitter-Stream {{tweets.length}}
      
    .row-fluid
      block content

  script(src='/vendor/jquery/js/jquery.min.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js")
  script(src='/vendor/bootstrap/js/bootstrap.js')
  script(src="http://127.0.0.1:3001/socket.io/socket.io.js")
  script
    var socket = io.connect('http://127.0.0.1:3001');
    socket.emit('tweet');
  script(src='/scripts/application.js')
  script(src='/scripts/services/stream.js')
  script(src='/scripts/controller/stream.js')