.display-data {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: normal;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.controls .error {
    color: #B94A48;
}

#stream {
    margin: 80px 0 0 0;
}
#tweeting {margin: 0;}

#stream li {
    border-top: 1px solid #efefef;
    padding: 10px 0;
}

#stream li:first-child {
    border-top: 0;
}

.media a.pull-left {
    width: 48px;
    height: 48px;
}

.media a.pull-left img {
    max-width: 100%;
}

.masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #efefef;
    z-index: 1;
}

.masthead h3 {
    margin: 13px 0;
    line-height: 1;
    font-size: 24px;
}

.masthead .btn {
    margin: 10px 0;
}