extend ../layout

block content
    h1 Hallo Welt

    form(method='post')
        input.btn.btn-primary(type="submit",value="Login with Twitter")

    a#twitter-login(href="#") Login

    pre#response