extend ../layout

block content
    form#tweeting(post="/tweet")
        .modal.hide.fade#myModal
            .modal-header
                button.close(type="button", data-dismiss="modal") x
                h3#myModalLabel Compose a new tweet
            .modal-body
                textarea#tweet(name="tweet", style="width: 100%;")
                input(type="hidden", name="reply_to", id="reply_to")
            .modal-footer
                button.btn(data-dismiss="modal") Close
                input.btn.btn-primary(type="submit") Tweet

    ul#stream(ng-controller="StreamCtrl")
        li(ng-repeat="tweet in tweets", id="tweet.id")
            .media
                a.pull-left(href="#")
                    img.media-object(src="tweet.user.profile_image_url", data-src="holder.js/64x64")
                .media-body
                    h4.media-heading.username @{{tweet.user.screen_name}}
                    p {{tweet.text}}
                .media-footer
                    .btn-group
                        a.btn.reply(href="#", data-id="tweet.id")
                            i.icon-share-alt
                        a.btn.fav(href="#", data-id="tweet.id")
                            i.icon-star-empty
                        a.btn.retweet(href="#", data-id="tweet.id")
                            i.icon-retweet