extend ../layout

block content
    div
        form#tweeting(post="/tweet")
            .modal.hide.fade#myModal
                .modal-header
                    button.close(type="button", data-dismiss="modal") x
                    h3#myModalLabel Compose a new tweet
                .modal-body
                    textarea#tweet(name="tweet", style="width: 100%;")
                    input(type="hidden", name="reply_to", id="reply_to")
                .modal-footer
                    button.btn(data-dismiss="modal") Close
                    input.btn.btn-primary(type="submit") Tweet

        ul#stream
            li(ng-repeat="tweet in tweets | orderBy: -tweet.id")
                .media
                    a.pull-left(href="#")
                        img.media-object(ng-src="{{tweet.user.profile_image_url}}")
                    .media-body
                        h4.media-heading.username @{{tweet.user.screen_name}}
                        p(ng-bind-html-unsafe="tweet.text")
                    .media-footer
                        .btn-group.pull-right
                            a.btn.reply(href="#", data-id="{{tweet.id}}")
                                i.icon-share-alt
                            a.btn.fav(href="#", data-id="{{tweet.id}}")
                                i.icon-star-empty
                            a.btn.retweet(href="#", data-id="{{tweet.id}}")
                                i.icon-retweet
                        p {{tweet.created_at}}